.align-items-start {
    text-align: center;
    margin-top: 10rem;
}
.bank-logo {
    text-align: center;
}
.bank-logo h1 {
   background-image: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
   padding: 15px;
}