<div class="main">
    <div class="profile" (click)="gotourl('profile')">
        <div class="icon-item">
            <mat-icon>account_box</mat-icon>
        </div>
        <div class="uname">{{user.firstName + ' ' + user.lastName}}</div>
    </div>
    <hr />
    <div (click)="gotourl('clienthome')" [class.selected]="url === '/clienthome'">Home</div>
    <div (click)="gotourl('listproduct')" [class.selected]="url === '/listproduct'">List Product</div>
    <div (click)="gotourl('profile')" [class.selected]="url === '/profile'">Profile</div>
    <div (click)="gotourl('logout')" [class.selected]="url === '/logout'">Logout</div>
</div>